<mat-toolbar color="primary">
    <mat-toolbar-row fxLayout="row">
        <span class="title-center">
            Change Password 
        </span>
    </mat-toolbar-row>
</mat-toolbar>



<mat-dialog-content class="mat-typography'">
    <form [formGroup]="changePasswordForm">
        <div fxFlex fxLayout="column">
            <mat-form-field appearance="fill" fxFlex>
                <mat-label>OLD Password</mat-label>
                <input matInput formControlName="oldPassword" required type="password">
                <mat-error *ngIf="changePasswordForm.controls.oldPassword.touched && changePasswordForm.controls.oldPassword.invalid ">
                    <span *ngIf="changePasswordForm.controls.oldPassword.errors.required">This field is required</span>
                    <span *ngIf="changePasswordForm.controls.oldPassword.errors.pattern">invalid input</span>
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill" fxFlex>
                <mat-label>NEW Password</mat-label>
                <input matInput formControlName="newPassword" required type="password">
                <mat-error *ngIf="changePasswordForm.controls.newPassword.touched && changePasswordForm.controls.newPassword.invalid ">
                    <span *ngIf="changePasswordForm.controls.newPassword.errors.required">This field is required</span>
                    <span *ngIf="changePasswordForm.controls.newPassword.errors.pattern">invalid input</span>
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill" fxFlex>
                <mat-label>Confirm Password</mat-label>
                <input matInput formControlName="confirmpassword" required type="password">
                <mat-error *ngIf="changePasswordForm.controls.confirmpassword.touched && changePasswordForm.controls.confirmpassword.invalid ">
                    <span *ngIf="changePasswordForm.controls.confirmpassword.errors.required">This field is required</span>
                    <span *ngIf="changePasswordForm.controls.confirmpassword.errors.pattern">invalid input</span>
                </mat-error>
                <mat-hint *ngIf="validateSubmit() && !(changePasswordForm.controls.confirmpassword.invalid )">
                    <span>New password and Confirm password dose not  match</span>
                </mat-hint>
            </mat-form-field>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="center">
    <button mat-raised-button color="primary" type="submit" (click)="handleChangePasswordSubmit()" [disabled]="!(changePasswordForm.valid && changePasswordForm.dirty)"> change Password </button>
    <button mat-raised-button color="primary" mat-button mat-dialog-close>Close</button>
</mat-dialog-actions> 